.input-group-wrapper{
    border: 1px solid red;
    //border-radius: 40px;
    z-index: 4;
}

.bg-white-light{
    background-color: rgba(0, 0, 0, 0.7);
}

.bg-footer{
    background-color: #292933;
    color: white;
}
