.input-group-wrapper{
    border: 1px solid red;
    //border-radius: 40px;
    z-index: 4;
}

.bg-white-light{
    background-color: rgba(0, 0, 0, 0.7);
}

.bg-footer{
    background-color: #292933;
    color: white;
    padding-top: 20px;
}

.fs-10{
    font-size: 3.1rem;
}

.home-bar{
    width: 100px;
    height: 7px;
    background-color: #109CF1;
    border: none;
}

.numbers-border{
    border: 3px solid #18BAF7;
    border-radius: 50%;
    color: #189EF7;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
}
